.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 100px;
    height: 60vh;


    .welcoming {
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        h1 {
            font-size: 70px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
            margin: 0;
            padding: 0;

            span {
                font-size: 20px;
            }
        }

        .welcoming-name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 25px;

            h1 {
                font-size: 30px;
                font-weight: 700;
                text-transform: capitalize;
                color: #f72585;
                margin: 0;
                padding: 0;

                span {
                    font-size: 12px;
                }
            }

            div {
                width: 50px;
                height: 2px;
                background-color: #fff;
                margin-right: 30px;
            }
        }
    }

    .buttons-container {
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .home-link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-right: 50px;
            width: 200px;
            overflow: hidden;

            h1 {
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
            }

            .arrow {
                width: 30px;
                height: auto;
                transition: 0.2s ease-in-out all;
                margin-left: 10px;

                path {
                    fill: #fff;
                }
            }

            &:hover {
                .arrow {
                    transform: translateX(10px);
                }
            }
        }
    }

    .date {
        position: absolute;
        bottom: 50px;
        left: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 16px;
            color: #ffffffb4;
            font-weight: 500;
        }
    }

    .social-media {
        position: absolute;
        bottom: 50px;
        right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .social-media-link {
            .social-media-icon {
                width: 20px;
                height: auto;
                margin-left: 40px;
                transition: 0.2s ease-in-out all;

                path {
                    fill: #ffffffa0;
                }
            }

            &:hover {
                .social-media-icon {
                    transform: scale(1.2);

                    path {
                        fill: #fff;
                    }
                }
            }
        }


    }
}