.loader-container {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: -150px;
    z-index: 1000;
    padding-right: 200px;

    .loader-logo-container {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .logo {
            top: 0;
            position: absolute;
            width: 100%;
            height: auto;
            overflow: visible;
            stroke: #F72585;
            stroke-width: 1;
            z-index: 2;
        }

        .sub-logo {
            top: 0;
            position: absolute;
            width: 100%;
            height: auto;
            overflow: visible;
            stroke: #1DD3B0;
            stroke-width: 1;
            z-index: 1;
        }
    }

}


@media(max-width:700px) {
    .loader-container {

        .loader-logo-container,
        .logo,
        .sub-logo {
            width: 130px;
        }
    }
}

@media(max-width:600px) {
    .loader-container {

        .loader-logo-container,
        .logo,
        .sub-logo {
            width: 110px;
        }
    }
}

@media(max-width:500px) {
    .loader-container {

        .loader-logo-container {
            width: 100px;

            .logo,
            .sub-logo {
                width: 100px;
            }
        }

    }
}