.loader-container {
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 30px;
        height: auto;
        overflow: visible;
        stroke: #fff;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}