.loader-container {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-logo-container {
        width: 150px;
        height: 150px;
        position: relative;
        margin-top: -100px;

        .logo {
            top: 0;
            position: absolute;
            width: 150px;
            height: auto;
            overflow: visible;
            stroke: #F72585;
            stroke-width: 1;
            z-index: 2;
        }

        .sub-logo {
            top: 0;
            position: absolute;
            width: 150px;
            height: auto;
            overflow: visible;
            stroke: #1DD3B0;
            stroke-width: 1;
            z-index: 1;
        }
    }

}


@media(max-width:700px) {
    .loader-container {

        .loader-logo-container,
        .logo,
        .sub-logo {
            width: 130px;
        }
    }
}

@media(max-width:600px) {
    .loader-container {

        .loader-logo-container,
        .logo,
        .sub-logo {
            width: 110px;
        }
    }
}

@media(max-width:500px) {
    .loader-container {

        .loader-logo-container {
            width: 100px;

            .logo,
            .sub-logo {
                width: 100px;
            }
        }

    }
}