.project-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0;
    position: relative;
    overflow: hidden;

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 35%;
        height: 100%;

        h1 {
            font-size: 50px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0;
            margin-bottom: 50px;

            span {
                font-size: 20px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 300;
            text-transform: capitalize;
            margin: 0;

        }

        .project-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-top: 50px;

            h1 {
                font-size: 22px;
                font-weight: 400;
                text-transform: capitalize;
                margin: 0;
            }

            .link-arrow {
                width: 25px;
                height: auto;
                opacity: 0;
                transition: 0.2s ease-in all;

                path {
                    fill: #fff;
                }
            }

            &:hover .link-arrow {
                opacity: 1;
                transform: translateX(10px)
            }
        }
    }

    .project-image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 65%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}


@media(max-width:1150px) {
    .project-preview-container .project-info h1 {
        font-size: 42px;
    }
}

@media(max-width:1000px) {
    .project-preview-container {
        .project-info {
            position: absolute;
            left: 0;
            top: 0;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.341);
        }

        .project-image {
            width: 100%;
        }
    }
}

@media(max-width:700px) {
    .projects-container {
        margin: 40px 60px;
    }
}

@media(max-width:650px) {
    .project-preview-container .project-info h1 {
        font-size: 34px;
        margin-bottom: 35px;
    }

    .project-preview-container .project-info h1 span {
        font-size: 16px;
    }

    .project-preview-container .project-info p {
        font-size: 14px;
    }

    .project-preview-container .project-info .project-link h1 {
        font-size: 18px;
    }

    .project-preview-container .project-info .project-link {
        margin-top: 35px;
    }

    .project-preview-container {
        .project-info {
            padding: 25px;
        }
    }
}

@media(max-width:550px) {
    .project-preview-container .project-info h1 {
        font-size: 30px;
    }

    .project-preview-container .project-info h1 span {
        font-size: 14px;
    }

    .project-preview-container .project-info p {
        font-size: 12px;
    }

    .project-preview-container .project-info .project-link h1 {
        font-size: 15px;
    }

    .project-preview-container {
        .project-info {
            padding: 20px;
        }
    }
}

@media(max-width:500px) {
    .projects-container {
        margin: 40px 40px;
    }
}

@media(max-width:450px) {
    .projects-container {
        margin: 40px 20px;
    }

    .project-preview-container .project-info h1 {
        font-size: 26px;
    }

    .project-preview-container .project-info h1 span {
        font-size: 10px;
    }

    .project-preview-container .project-info p {
        font-size: 10px;
    }

    .project-preview-container .project-info .project-link h1 {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .project-preview-container .project-info .project-link {
        margin-top: 25px;
    }

    .project-preview-container {
        .project-info {
            padding: 15px;
        }
    }
}

@media(max-width:360px) {
    .projects-container {
        margin: 40px 10px;
    }

    .project-preview-container .project-info h1 {
        font-size: 22px;
    }

    .project-preview-container .project-info h1 span {
        font-size: 8px;
    }

    .project-preview-container .project-info p {
        font-size: 9px;
    }

    .project-preview-container .project-info .project-link h1 {
        font-size: 10px;
    }

    .project-preview-container {
        .project-info {
            padding: 10px;
        }
    }
}

@media(max-width:275px) {
    .projects-container {
        margin: 40px 5px;
    }

    .project-preview-container .project-info h1 {
        font-size: 18px;
    }

    .project-preview-container .project-info h1 span {
        font-size: 7px;
    }

    .project-preview-container .project-info p {
        font-size: 8px;
    }

    .project-preview-container .project-info .project-link h1 {
        font-size: 9px;
    }

    .project-preview-container {
        .project-info {
            padding: 5px;
        }
    }
}