.button-container {
    width: fit-content;
    height: fit-content;
    padding: 15px 40px;
    margin: 10px 0px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    letter-spacing: 3px;
    border: none;
    outline: none;


    &.primary {
        border: 1px solid #1dd3b0;
        color: #1dd3b0;
        background: linear-gradient(to left, #ffffff00 50%, #1dd3b0 50%) right;
        background-size: 200%;

        &:hover {
            background-position: left;
            color: #fff;
        }
    }

    &.secondary {
        background: linear-gradient(to left, #ffffff00 50%, #fc6dab 50%) right;
        background-size: 200%;
        border: 1px solid #fc6dab;
        color: #fc6dab;

        &:hover {
            background-position: left;
            color: #fff;
        }
    }

}


@media(max-width:1200px) {
    .button-container {
        padding: 12px 26px;
        font-size: 12px;
    }
}

@media(max-width:775px) {
    .button-container {
        padding: 12px 24px;
        font-size: 12px;
    }
}

@media(max-width:510px) {
    .button-container {
        padding: 12px 20px;
        font-size: 12px;
    }
}

@media(max-width:475px) {
    .button-container {
        padding: 10px 16px;
        font-size: 10px;
    }
}