.button-container {
    width: fit-content;
    height: fit-content;
    padding: 15px 40px;
    margin: 10px 10px;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;



    &.primary {
        background-color: #b29e72;

        &:hover {
            background-color: #000000;
        }
    }

    &.secondary {
        background-color: #ffffff11;

        &:hover {
            background-color: #000000;
        }
    }

}


@media(max-width:1200px) {
    .button-container {
        padding: 12px 26px;
        font-size: 12px;
    }
}

@media(max-width:775px) {
    .button-container {
        padding: 12px 24px;
        font-size: 12px;
    }
}

@media(max-width:510px) {
    .button-container {
        padding: 12px 20px;
        font-size: 12px;
    }
}

@media(max-width:475px) {
    .button-container {
        padding: 10px 16px;
        font-size: 10px;
    }
}