.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;

    .navigation-logo {
        text-decoration: none;
        width: 20%;

        .main-logo {
            width: 30px;
            height: auto;

            path {
                fill: #fff;
            }
        }
    }



    .navigation-button {
        cursor: pointer;

        h1 {
            color: #fc6dab;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.2s ease-in all;
            letter-spacing: 2px;
        }

        &:hover {
            h1 {
                color: #fff;
            }
        }
    }

    .navigation-button--active {
        h1 {
            color: #ffffffc9;
        }
    }

    .navigation-links-container {
        position: absolute;
        top: 100px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        opacity: 0;
        transition: 0.3s ease-in-out all;
        background: #00000055;
        backdrop-filter: blur(5px);
        padding: 0px 110px 50px 50px;

        .navigation-container-link {
            transform: translateX(50px);
            transition: 0.3s ease-in-out all;
            text-decoration: none;

            &:hover h1 {
                color: #1dd3b0;
            }

            &.active h1 {
                color: #1dd3b0;
            }
        }

        .navigation-container-link--active {
            transform: translateX(0);

        }

        .navigation-container-link.navigation-container-link--active:nth-child(1) {
            transition-delay: 0.1s;
        }

        .navigation-container-link.navigation-container-link--active:nth-child(2) {
            transition-delay: 0.15s;
        }

        .navigation-container-link.navigation-container-link--active:nth-child(3) {
            transition-delay: 0.2s;
        }

        .navigation-container-link h1 {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: 2px;
            cursor: pointer;
            transition: 0.2s ease-in all;

            span {
                font-size: 12px;
            }
        }
    }

    .navigation-menu--visible {
        opacity: 1;
        z-index: 1;
    }

}





.navigation-menu-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s cubic-bezier(0.61, 1, 0.88, 1);

    .navigation-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;

        &.active h1 {
            color: #c3ac7b;
        }

        &.active div {
            opacity: 1;
        }

        h1 {
            font-size: 17px;
            text-transform: capitalize;
            color: #fff;
            transition: 0.2s ease-in all;
            font-weight: 600;
        }

        div {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            position: absolute;
            top: 45px;
            transition: 0.1s ease-in all;
            background-color: #c3ac7b;
            opacity: 0;
        }

        &:hover {
            h1 {
                color: #c3ac7b;
            }

            div {
                opacity: 1;
            }
        }
    }
}


@media(max-width:500px) {
    .navigation-container {
        margin: 50px 80px;
    }

    .navigation-container .navigation-links-container {
        padding-right: 90px;
    }
}

@media(max-width:450px) {
    .navigation-container {
        margin: 50px 60px;
    }

    .navigation-container .navigation-links-container {
        padding-right: 70px;
    }
}

@media(max-width:400px) {
    .navigation-container {
        margin: 50px 40px;
    }

    .navigation-container .navigation-links-container {
        padding-right: 50px;
    }
}

@media(max-width:350px) {
    .navigation-container {
        margin: 50px 20px;
    }

    .navigation-container .navigation-links-container {
        padding-right: 30px;
    }
}

@media(max-width:300px) {
    .navigation-container {
        margin: 50px 10px;
    }

    .navigation-container .navigation-links-container {
        padding-right: 20px;
    }
}