.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 200px;

    .navigation-logo {
        text-decoration: none;
        width: 20%;

        .main-logo {
            width: 30px;
            height: auto;
            filter: invert(81%) sepia(43%) saturate(293%) hue-rotate(1deg) brightness(87%) contrast(89%);
        }
    }



    .menu-button {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 34px;
        cursor: pointer;
        z-index: 1;

        div {
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
            transition: 0.1s ease-in all;
            transform-origin: center;
            margin: 5px 0;
        }

        &:hover {

            div:nth-of-type(2) {
                width: 30px;
            }
        }
    }

}

.navigation-menu-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s cubic-bezier(0.61, 1, 0.88, 1);

    .navigation-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;

        &.active h1 {
            color: #c3ac7b;
        }

        &.active div {
            opacity: 1;
        }

        h1 {
            font-size: 17px;
            text-transform: capitalize;
            color: #fff;
            transition: 0.2s ease-in all;
            font-weight: 600;
        }

        div {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            position: absolute;
            top: 45px;
            transition: 0.1s ease-in all;
            background-color: #c3ac7b;
            opacity: 0;
        }

        &:hover {
            h1 {
                color: #c3ac7b;
            }

            div {
                opacity: 1;
            }
        }
    }
}

@media(max-width:1100px) {


    .navigation-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00000066;
        backdrop-filter: blur(5px);
        z-index: -1;
        opacity: 0;
        transform: translateY(-100vh);

        .navigation-link {
            margin-bottom: 50px;

            h1 {
                font-size: 35px;
            }

            div {
                width: 16px;
                height: 16px;
                border-radius: 8px;
                top: 70px;
            }
        }
    }

    .navigation-container {

        .menu-button {
            display: flex;
        }
    }

}

.nav-menu--visible {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}


.menu-button--active {
    div:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: left;
    }

    div:nth-of-type(2) {
        transform: scale(0);
    }

    div:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: left;
    }
}

@media(max-width:950px) {
    .navigation-container {
        margin: 30px 120px;
    }
}

@media(max-width:750px) {
    .navigation-container {
        margin: 30px 100px;

        .navigation-link {
            margin-bottom: 50px;

            h1 {
                font-size: 25px;
            }

            div {
                width: 12px;
                height: 12px;
                border-radius: 6px;
                top: 50px;
            }
        }
    }
}

@media(max-width:500px) {
    .navigation-container {
        .navigation-link {
            margin-bottom: 40px;

            h1 {
                font-size: 20px;
            }

            div {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                top: 40px;
            }
        }
    }
}

@media(max-width:400px) {
    .navigation-container {
        margin: 30px 10px;
    }

}