.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 100px;

    .about-me {
        width: 45%;

        .about-me-header h1 {
            font-size: 50px;
            font-weight: 700;
            text-transform: capitalize;
            color: #1dd3b0;
        }

        .about-me-text {
            p {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    .my-skills {
        width: 45%;

        .my-skills-header h1 {
            font-size: 50px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fc6dab;
        }

        .my-skills-text {
            p {
                font-size: 16px;
                font-weight: 300;
            }
        }

        .skills-level {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            h2 {
                font-size: 20px;
                font-weight: 400;
                text-transform: capitalize;
            }

            .level-bar1 {
                width: 100%;
                height: 8px;
                background-color: #ffffff5d;

                div {
                    height: 100%;
                    width: 85%;
                    background-color: #1dd3b0;
                }
            }

            .level-bar2 {
                width: 100%;
                height: 8px;
                background-color: #ffffff5d;

                div {
                    height: 100%;
                    width: 70%;
                    background-color: #1dd3b0;
                }
            }

            .level-bar3 {
                width: 100%;
                height: 8px;
                background-color: #ffffff5d;

                div {
                    height: 100%;
                    width: 55%;
                    background-color: #1dd3b0;
                }
            }

            .level-bar4 {
                width: 100%;
                height: 8px;
                background-color: #ffffff5d;

                div {
                    height: 100%;
                    width: 65%;
                    background-color: #1dd3b0;
                }
            }
        }
    }
}


@media(max-width:1000px) {
    .about-container {
        flex-direction: column;

        .about-me {
            width: 100%;
        }

        .my-skills {
            width: 100%;
        }
    }
}

@media(max-width:700px) {
    .about-container .about-me .about-me-header h1 {
        font-size: 45px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 45px;
    }
}

@media(max-width:605px) {
    .about-container .about-me .about-me-header h1 {
        font-size: 40px;
    }

    .about-container .about-me .about-me-text p {
        font-size: 14px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 40px;
    }

    .about-container .my-skills .my-skills-text p {
        font-size: 14px;
    }

    .about-container .my-skills .skills-level h2 {
        font-size: 18px;
    }
}

@media(max-width:565px) {
    .about-container {
        margin: 40px 60px;
    }

    .about-container .about-me .about-me-header h1 {
        font-size: 30px;
    }

    .about-container .about-me .about-me-text p {
        font-size: 12px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 30px;
    }

    .about-container .my-skills .my-skills-text p {
        font-size: 12px;
    }

    .about-container .my-skills .skills-level h2 {
        font-size: 14px;
    }
}

@media(max-width:400px) {
    .about-container {
        margin: 40px 30px;
    }

    .about-container .about-me .about-me-header h1 {
        font-size: 28px;
    }

    .about-container .about-me .about-me-text p {
        font-size: 11px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 28px;
    }

    .about-container .my-skills .my-skills-text p {
        font-size: 11px;
    }

    .about-container .my-skills .skills-level h2 {
        font-size: 13px;
    }
}

@media(max-width:320px) {
    .about-container {
        margin: 40px 10px;
    }

    .about-container .about-me .about-me-header h1 {
        font-size: 24px;
    }

    .about-container .about-me .about-me-text p {
        font-size: 10px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 24px;
    }

    .about-container .my-skills .my-skills-text p {
        font-size: 10px;
    }

    .about-container .my-skills .skills-level h2 {
        font-size: 11px;
    }
}

@media(max-width:250px) {
    .about-container {
        margin: 40px 5px;
    }

    .about-container .about-me .about-me-header h1 {
        font-size: 20px;
    }

    .about-container .about-me .about-me-text p {
        font-size: 8px;
    }

    .about-container .my-skills .my-skills-header h1 {
        font-size: 20px;
    }

    .about-container .my-skills .my-skills-text p {
        font-size: 8px;
    }

    .about-container .my-skills .skills-level h2 {
        font-size: 9px;
    }
}