body {
  margin: 0 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://i.ibb.co/RbbtBSh/bg2.png');
  background-size: cover;
  overflow: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}